
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #515076;
    font-weight: 400;
}

.title {
    font-size: 70px;
    font-weight: 400;
    text-align: center;
}

.product-item {
    font-size: 20px;
    line-height: 27px;
}

.skin-normal {
    font-size: 12px;
    line-height: 24px;
    }

    ul {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
    }