
body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #515076;
    font-weight: 400;
    
    }

.title {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin: 0;

    }